
body {
  background-image:  url(images/bwwallpaper.jpg); 
  font-family: 'Kalam', cursive;
}

navbar, button {
  font-family: 'Permanent Marker', cursive;
}

#topwords{
font-size: 48;
color:blue; 
background-color:yellow; 
text-align: left


}
#bottomwords{
  font-size: 48;
  color:blue;
  background-color:yellow;
  
  text-align: right;
  padding-bottom: 40;
  }

  #letterslot, #youWon {
    background-color: yellow;
    color: green;
    font-size: 64; 
    justify-content: center;
      }
  
  #wordGameContainer {
    margin-top: 80px;
    margin-bottom: 80px
  }